<div class="row justify-content-center">
  <div class="col-12 text-center mb-2">
    <h1>TODOS</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" class="d-flex flex-wrap justify-content-between">
      <div class="col-12 col-md-10 mb-3">
        <input type="text" placeholder="Add New Todos here" name="todoText"
               class="form-control drop-shadow" [(ngModel)]="todoValue" required #todo = 'ngModel'
               [ngClass]="{'border-danger': f.submitted && todo.invalid}">
        <div class="text-danger errorRequired" *ngIf="f.submitted && todo.invalid && todo.errors">
          Todo is Required...
        </div>
      </div>

      <div class="col-12 col-md-2 mb-3 ps-md-3">
        <button type="submit" class="btn btn-primary btn-todo btn-block drop-shadow">{{dataStatus}}</button>
      </div>

    </form>
  </div>
</div>
<div class="row todo-list justify-content-center">
  <div class="col-12 col-md-6 ">
    <div class="card" *ngFor="let todo of todos">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-start text-secondary">
            <small *ngIf="!todo.data.isCompleted">
              <i class="fa-regular fa-circle text-danger icon-margin"></i>
            </small>
            <small *ngIf="todo.data.isCompleted">
              <i class="fa-solid fa-check text-success icon-margin"></i>
            </small>

            {{todo.data.todo}}


            <div class="line" *ngIf="todo.data.isCompleted"></div>
          </div>
          <div class="float-end">
            <small class="icon-margin" (click)="completeTodo(todo.id)" *ngIf="!todo.data.isCompleted">
              <i class="fa-regular fa-circle-check text-success"></i>
            </small>
           <small (click)="uncompletedTodo(todo.id)" *ngIf="todo.data.isCompleted">
             <i class="fa-solid fa-circle-xmark text-danger"></i>
           </small>

            <div class="todo-tools">
              <small (click)="onEdit(todo.data.todo,todo.id)" class="icon-margin">
                <i class="fa-solid fa-pencil text-warning"></i>
              </small>
              <small (click)="onDelete(todo.id)" class="icon-margin">
                <i class="fa-solid fa-trash text text-danger"></i>
              </small>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


