<header class="drop-shadow">
  <div class="container">
    <div class="row d-flex justify-content-md-center">
      <div class="col-md-auto" routerLink="/category" *ngIf="firebaseService.isLoggedIn$ | async">
        <h5 class="text-primary brand text-center">Todo App</h5>
      </div>

      <div class="col-md-auto d-flex justify-content-center align-items-center" *ngIf="firebaseService.isLoggedIn$ | async">
        <a class="me-3 text-decoration-none" >{{email}}</a>
        <button class="btn btn-sm btn-info bg-secondary-theme text-theme-primary" (click)="onLogOut()">Logout</button>
      </div>
    </div>
    <div class="row d-flex justify-content-md-center" *ngIf="!(firebaseService.isLoggedIn$ | async)">
      <div class="col-md-auto d-flex justify-content-center align-items-center">
        <a routerLinkActive="active" routerLink="/register" class="me-3 text-decoration-none">Register</a>
        <a routerLinkActive="active" routerLink="/login" class="me-3 text-decoration-none">Login</a>
      </div>
    </div>
  </div>
</header>

